* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.title {
    background-color: lightgray;
    text-align: right;
    padding: 10px;
       }

.title a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.logo {
    display: block;
    margin: auto;
    padding: 50px 50px;
   }


.menu {
    background-color: black;
    text-align: center;
    padding: 20px;
}
.menu a {
    text-decoration: none;
    color: white;
    margin: 50px;
    font-size: 25px;
}

.center {
    text-align: center;
    padding: 20px 20px;
}

.box {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    }

.box ul {
    display: flex;
    list-style-type: none;
    }

.box img {
 width: 50px;
 height: 50px;
 margin: 5px;
 }

.link {
    text-align: center;
    padding: 20px;
    color: gray;
    font-size: small;
}

.foot {
    display: flex;
}
.notice, .as {
text-align: center;
margin: 0 auto;
list-style-type: none;
}
.notice h3  {
    text-align: left;
}
.notice li{
    text-align: left;
}
.as h3 {
    text-align: center;
}
